<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container" id="mainContainer">
    <h1>Sentiment Analysis</h1>

    <!-- Sticky Input Section -->
    <div id="inputSection">
        <textarea id="textInput" placeholder="Type your sentence here..."></textarea>
        <div class="buttons">
            <button id="toggleDarkModeBtn">Toggle Dark Mode</button>
            <button id="analyzeBtn">Analyze</button>
            <button id="clearHistoryBtn">Clear History</button>
        </div>
        <div id="spinner" class="spinner" style="display: none;"></div>
        <div id="result"></div>
    </div>

    <!-- History Section -->
    <h2>History</h2>
    <div class="history-container">
    <ul id="historyList"></ul>
    </div>
</div>

    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
